extends layout.pug

block content
  br
  h2(class='scriptTitle')= script.title
  div(style={display: 'flex'})
   a(href=`/script/edit/${script.id}`) Edit Title
    if `${parts.length}` > 0
     a(href=`/part/${firstPart.id}/preview` style={'margin-left': '20px'}) Preview Script
  br
  each part in parts
   div(class='partDesign')
    h5(class="partTitle")= part.title
    p(class='partBody')=  part.body
    div(class='responses')
     each response in responses
       if response.partId == part.id
        div(style={margin: '15px'})
         a(class='btn btn-primary' href=`/part/${response.linkedPartId}/preview` style={'background-color': '#080F5B'})= response.body
   div(style={display: 'flex', 'align-items': 'flex-end'})
    div(class='py-4' style={"margin-right": "8px"} )
      form(action=`/part/edit/${part.id}` method='get' id="myform")
       input(type='hidden' name='_csrf' value=csrfToken)
       input(type='hidden' name='returnScriptId' value=`${script.id}`)
       button(class='btn btn-primary' type='text' style={'background-color': '#080F5B'}) Edit Part
    div(class='py-4')
      form(action=`/part/delete/${part.id}` method='post')
       input(type='hidden' name='_csrf' value=csrfToken)
       input(type='hidden' name='returnScriptId' value=`${script.id}`)
       button(class='btn btn-primary' type='text' style={'background-color': '#fec107', 'color': '#080F5B'}) Delete Part
  br
  br
  br     
  br
  br

  h3 Add Part
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error
  form(class='partDesign' action='/part/add' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    input(type='hidden' id='scriptId' name='scriptId' value=`${script.id}`)
    div(class='form-group')
      label(for='title') Title
      input(type='text' id='title' name='title' value="" class='form-control')
    div(class='form-group')
      label(for='body') Body
      input(type='text' id='body' name='body' value="" class='form-control')
    div(class='py-4')
      button(type='submit' class='btn btn-primary' style={'background-color': '#080F5B'}) Add Part
  div(class='py-4')
   br
   br
   br